<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="page-header">
        <h1 id="timeline">Activity Feed</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Description</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>  Oct, 10 2018</small></p>
            </div>
            <div class="timeline-body">
              <p>Rani pokhiri Mauza open baithak - Discussion on local issues and solid waste management. #projectworks</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"></h4>
            </div>
            <div class="timeline-body">
           <p>
             <img src="https://clbhogpur.everyulb.com/dashboard/img/feed/10_10_18.jpeg" class="img-width">
           </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Description</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>  Oct, 10 2018</small></p>
              </div>
              <div class="timeline-body">
                <p>Samiti chairman Mr. Tiwari ji himself driving Safai Vahan as the driver was on leave. #projectworks</p>
              </div>
            </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"></h4>
            </div>
            <div class="timeline-body">
                <p>
                  <img src="https://clbhogpur.everyulb.com/dashboard/img/feed/6_10_18.jpeg" class="img-width">
                </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i>  Oct, 10 2018</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Description</h4>
            </div>
            <div class="timeline-body">
              <p>Uttrakhand heritage editor in Chief visiting the cluster for documenting the project..also seen Mr Raturi and Mr. Krushali Pradhan of Ranipokhiri mauza. #projectworks</p>
            </div>
          </div>
        </li>
        
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Description</h4>
            </div>
            <div class="timeline-body">
              <p>
                  <img src="https://clbhogpur.everyulb.com/dashboard/img/feed/2_10_18_4.jpeg" class="img-width">
              </p> 
            </div>
          </div>
        </li>
    </ul>
</div>