.options {
    float: right;
    margin-right: 20px;
}

.options img {
    margin-left: 10px;
}

.projects-content {
    height: 750px;
    padding-right: 20px;
    overflow-y: auto;
}


.projects-content::-webkit-scrollbar {
    width: 9px;
    background-color: #F5F5F5;
} 

.projects-content::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
    border-radius: 10px;
}

.meta {
    margin-top:20px;
}
.tiles button {
    background: none;
    border: none;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.progress-label{
    height: 27px;;
    background: white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 0 7px 0 7px;
}

.progress-label p {
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    font-weight: var(--boldWt);
}

.ongoing {
    color: #39914F;
}

.survey {
    color: #AB3EDA;
}

.impact-analysis {
    color: #116ECB;
}