<h4 class="section-header">Updates</h4>
<div class="filter">
    <button>LATEST UPDATE <i class="fas fa-caret-down"></i></button>
</div>
<div class="tabs">
    <button class="selected-tab" style="border-bottom: 2px solid #902729;">ALL</button>
    <button>COMPLETED</button>
    <button>ONGOING</button>
</div>
<div class="updates-content">
    <div class="wide-tiles">
        <div class="info">
            <p class="description">Completed construction of 250 housing units at Ramnagar security block</p>
            <p class="project-name">Watershed Development in Madhya Pradesh</p>
        </div>
        <div class="meta">
            <div class="project-completion">
                <img src="/assets/flag.svg" alt="">
                <p>70%</p>
            </div>
            <div class="due-date"><p>10 JAN 2018</p></div>
        </div>
    </div>
    <div class="wide-tiles">
        <div class="info">
            <p class="description">Financial plan for primary school construction approved</p>
            <p class="project-name">Watershed Development in Madhya Pradesh</p>
        </div>
        <div class="meta">
            <div class="project-completion">
                <img src="/assets/flag.svg" alt="">
                <p>10%</p>
            </div>
            <div class="due-date"><p>7 JAN 2018</p></div>
        </div>
    </div>
    <div class="wide-tiles">
        <div class="info">
            <p class="description">Acquired material for school construction</p>
            <p class="project-name">Project Name</p>
        </div>
        <div class="meta">
            <div class="project-completion">
                <img src="/assets/flag.svg" alt="">
                <p>20%</p>
            </div>
            <div class="due-date"><p>7 JAN 2018</p></div>
        </div>
    </div>
    <div class="wide-tiles"></div>
</div>