<h4 class="section-header">Updates</h4>
<div class="updates-content">
    <div class="wide-tiles">
        <div class="info">
            <p class="description">Completed construction of 250 housing units at Ramnagar security block</p>
            <p class="project-name">Project Name</p>
        </div>
        <div class="meta">
            <div class="project-completion">
                <img src="/assets/flag.svg" alt="">
                <p>20%</p>
            </div>
            <div class="due-date"><p>2 Feb 2019</p></div>
        </div>
    </div>
    <div class="wide-tiles"></div>
    <div class="wide-tiles"></div>
    <div class="wide-tiles"></div>
</div>