.updates-content {
    height: 300px;
    padding-right: 20px;
    overflow-y: auto;
}

.updates-content::-webkit-scrollbar {
    width: 9px;
    background-color: #F5F5F5;
} 

.updates-content::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
    border-radius: 10px;
}

.meta p {
    display: inline-block; 
    line-height: 27px;
}