/* Navigation */

.nav-header {
    height: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0;
    background: rgba(247, 247, 247, 1);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.nav-brand {
    color: var(--themeRed);
    margin-left: 82px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 80px;
    display: inline;
}

.nav-right-links {
    float: right;
}

.nav-right-links img {
    margin-right: 82px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.section-wrapper {
    margin-top: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60% 40% 40%;
    grid-template-areas: 
    "projects updates"
    "projects tasks";
    margin-right: 82px;
}

.updates {
    margin: 10px;
    grid-area: updates;
    margin-left: 82px;
    border-radius: 10px;
}

.tasks {
    margin: 10px;
    margin-top: 0px;
    grid-area: tasks;
    margin-left: 82px;
}

.projects {
    margin: 10px;
    margin-left: 82px;
    grid-area: projects;
}

.dropdown-menu {
    transform: translate3d(-100px, 74px, 0px) !important;
}

.dropdown-item {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}