<div class="monitoring-section">

  <div class="section-header">
      <mat-card>Reports</mat-card>
  </div>


  <div class="section-wrapper">
      <section>
          <mat-card>
            <div class="report-content">
                <section>
                  test
                </section>
                <section>
                  <h3>1.2 MT</h3>
                  <h5>Generation</h5>
                </section>
            </div>
          </mat-card>
      </section>
      <section>
          <mat-card>
              <div class="report-content">
                  <section>
                    test
                  </section>
                  <section>
                    <h3>100 KG</h3>
                    <h5>Compost</h5>
                  </section>
              </div>
          </mat-card>
      </section>
      <section>
          <mat-card>
              <div class="report-content">
                  <section>
                    test
                  </section>
                  <section>
                    <h3>80 KG</h3>
                    <h5>Recyclables</h5>
                  </section>
              </div>
          </mat-card>
      </section>
      <section>
          <mat-card>
              <div>
                  <section>
                    <h5>Monthly Report</h5>
                    <h3><br></h3>
                  </section> 
              </div>
          </mat-card>
      </section>
    
  </div>

  <div class="footer-content">
    <section>
        <mat-card>
                <div>
                <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
                <button (click)="randomize()">Update</button>
                </div>
        </mat-card>
    </section>
    <section>
        <mat-card>
                Revenue
        </mat-card>
    </section>
  </div>
</div>
